.toolbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 150px;
}

.toolbar > div {
  margin: 5px;
}

.editor-grid {
  display: grid;

  grid-template-columns: 5.5em auto;
  row-gap: 10px;
}
.editor-grid h3 {
  margin: 10px 0 0;
}
.editor-grid a:link {
  color: inherit;
}
.editor-grid a:visited {
  color: inherit;
}
.editor-grid a:hover {
  color: inherit;
}

.editor-grid .both {
  grid-column: 1 / 3;
}

.editor-grid .modalsgrid {
  display: grid;

  justify-items: center;
}

@media only screen and (max-width: 40em) {
  .editor-grid .modalsgrid {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
@media only screen and (min-width: 41em) {
  .editor-grid .modalsgrid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5px;
  }
}

.editor-grid .modalsgrid > div {
  display: grid;
  grid-template-columns: auto 0.5em;
  gap: 0.5em;
}

.editor-grid .fieldsgrid {
  display: grid;

  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(5em, auto));
}

.fieldsgrid-modal {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.fieldsgrid-modal > div {
  margin-bottom: 5px;
}

.editor-grid .texturls {
  grid-row: 3 / 5;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr 1fr;
}
